<form [formGroup]="formEmployee">
  <div class="content-block dx-card responsive-paddings">
    <div class="title">Empleado</div>
    <div class="editors">
      <div class="editors-container">
        <div class="left">
          <dx-text-box formControlName="name"
                       width="100%"
                       [inputAttr]="{ 'aria-label': 'Nombre' }"
                       label="Nombre"
                       placeholder="Nombre..."
                       [stylingMode]="stylingMode"
                       [labelMode]="labelMode">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box formControlName="secondLastName"
                       width="100%"
                       [inputAttr]="{ 'aria-label': 'Apellido Materno' }"
                       label="Apellido Materno"
                       placeholder="Apellido Materno..."
                       [stylingMode]="stylingMode"
                       [labelMode]="labelMode">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box formControlName="address"
                       width="100%"
                       label="Dirección"
                       [inputAttr]="{ 'aria-label': 'Dirección' }"
                       placeholder="Dirección..."
                       [stylingMode]="stylingMode"
                       [labelMode]="labelMode">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="right">
          <dx-text-box formControlName="firstLastName"
                       width="100%"
                       [inputAttr]="{ 'aria-label': 'Apellido Paterno' }"
                       label="Apellido Paterno"
                       placeholder="Apellido Paterno..."
                       [stylingMode]="'outlined'"
                       [labelMode]="labelMode">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-date-box formControlName="birthDate"
                       width="100%"
                       label="Cumpleaños"
                       placeholder="Seleccionar..."
                       [stylingMode]="stylingMode"
                       [labelMode]="labelMode"
                       [inputAttr]="{ 'aria-label': 'Birth Date' }">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
          <dx-select-box formControlName="office"
                         [dataSource]="listOffice"
                         displayExpr="name" 
                         width="100%"
                         placeholder="Seleccionar..."
                         [inputAttr]="{ 'aria-label': 'Oficina' }"
                         label="Oficina"
                         [stylingMode]="stylingMode"
                         [labelMode]="labelMode">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-select-box>
        </div>
      </div>
      <div class="center">
        <dx-tag-box [items]="listPositions"
                    formControlName="positions"
                    [multiline]="false"
                    width="100%"
                    placeholder="Seleccionar..."
                    [inputAttr]="{ 'aria-label': 'Posiciones' }"
                    label="Posiciones"
                    [stylingMode]="stylingMode"
                    [labelMode]="labelMode">
          <dx-validator>
            <dxi-validation-rule type="required"> </dxi-validation-rule>
          </dx-validator>
        </dx-tag-box>
      </div>
      <div class="editors-container">
        <div class="left">
          <dx-text-box formControlName="phone"
                       width="100%"
                       label="Teléfono"
                       [inputAttr]="{ 'aria-label': 'Teléfono' }"
                       mask="+51 (00) 000000000"
                       [maskRules]="phoneRules"
                       [stylingMode]="stylingMode"
                       [labelMode]="labelMode">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="right">
          <dx-date-box formControlName="hireDate"
                       width="100%"
                       label="Contratación"
                       placeholder="Seleccionar..."
                       [stylingMode]="stylingMode"
                       [labelMode]="labelMode"
                       [inputAttr]="{ 'aria-label': 'Contratación' }">
            <dx-validator>
              <dxi-validation-rule type="required"> </dxi-validation-rule>
            </dx-validator>
          </dx-date-box>
        </div>
      </div>
      <div class="center">
        <dx-text-area formControlName="note"
                      width="100%"
                      placeholder="Notas..."
                      label="Notas"
                      [stylingMode]="stylingMode"
                      [labelMode]="labelMode"
                      [inputAttr]="{ 'aria-label': 'Notas' }"></dx-text-area>
      </div>
      <div class="center">
        <dx-button text="Guardar"
                   type="default"
                   (onClick)="save($event)"
                   class="validate"></dx-button>
      </div>
    </div>
  </div>
</form>
